/*
========================================================================================
    nf-core/rnaseq Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------

*/

// Global default params, used in configs
params {

    // Input options
    input_fastq               = "/home/ausserh/projects/2021/CRCnoncanonical/NovumRNA/samplesheet_CRC_short_sub.csv"
    input_gtf                 = "/home/ausserh/projects/2021/CRCnoncanonical/nonCanonicalNeoAG/samplesheet_medullablastoma_gtf_star.csv"
    input_capture_gtf         = "/home/ausserh/projects/2021/CRCnoncanonical/Shen_Trincado_PCR_events/samplesheet_MDA-MB-231_negative_control_gtf.csv"

    // References
    genome              = "/data/genomes/hg38/fasta/gencode/GRCh38.primary_assembly.genome.fa"
    reference_GTF       = "/data/genomes/hg38/annotation/gencode/gencode.v38.primary_assembly.annotation.gtf"
    ref_proteome        = "/home/ausserh/myScratch/gencode.v41.pc_translations.fa"
    aligner             = "hisat"
    hisat_index         = "/home/ausserh/projects/2021/CRCnoncanonical/NovumRNA_CRC_VAF_test/Indices/hisat_genome_index/hisat_index"
    star_index          = "/home/ausserh/projects/2021/CRCnoncanonical/NovumRNA_CRC_VAF_test/Indices/star_index"
    inverted_bed        = "/home/ausserh/projects/2021/CRCnoncanonical/TEC_capture_bed_new/Capture_bed/capture_bed.bed"
    Annotation_2        = "/home/ausserh/projects/2021/CRCnoncanonical/ERV_annotation.bed"

    // Outdir
    outdir              = "/home/ausserh/projects/2021/CRCnoncanonical/NovumRNA_CRC_VAF_test/"
    outdir_capture      = "/home/ausserh/projects/2021/CRCnoncanonical/NovumRNA_CRC_VAF_test/"
    publish_dir_mode    = "copy"

    // Filtering
    database_I = "/home/ausserh/myScratch/gencode.v41.pc_translations_chopped_8_9_10_11_15.fa"

    // Arguments
    peptide_length      = "9 15"
    two_pass            = false
    riboseq             = false
    split_netMHCpan     = 4
    tpm_min_novel       = 2
    cov_min_novel       = 4
    tpm_max_diff        = 1
    cov_max_diff        = 4
    tpm_min_diff        = 10
    cov_min_diff        = 16
    BAM_cov             = 2

    // Stringtie_options
    longreads           = false

}

process {
    withName: 'Indices' {
        cpus = 4
        publishDir = [path: "${params.outdir}Indices", mode: params.publish_dir_mode]
        
    }
    withName: 'OptiType' {
        cpus = 8
        publishDir = [path: "${params.outdir}OptiType", mode: params.publish_dir_mode]
        
    }

    withName: 'alignment' {
        cpus = 8
        publishDir = [path: "${params.outdir}hisat", mode: params.publish_dir_mode]
        
    }

    withName: 'StringTie' {
        cpus = 1
        publishDir = [path: "${params.outdir}StringTie", mode: params.publish_dir_mode]
        
    }

    withName: HLA_extraction {
        cpus = 1
        publishDir = [path: "${params.outdir}HLA_extraction", mode: params.publish_dir_mode]
        
    }

    withName: HLA_HD {
        cpus = 12
        publishDir = [path: "${params.outdir}HLA_HD", mode: params.publish_dir_mode]
        
    }

    withName: Create_capture_bed {
        cpus = 1
        publishDir = [path: "${params.outdir_capture}Capture_bed", mode: params.publish_dir_mode]
        
    }

    withName: Filtering {
        cpus = 1
        publishDir = [path: "${params.outdir}Filtering", mode: params.publish_dir_mode]
        
    }


    withName: 'Translation' {
        cpus = 4
        publishDir = [path: "${params.outdir}Translation", mode: params.publish_dir_mode]
        
    }

    withName: 'Translation_2' {
        cpus = 1
        publishDir = [path: "${params.outdir}Translation_2", mode: params.publish_dir_mode]
        
    }

    withName: Annotation {
        cpus = 32
        publishDir = [path: "${params.outdir}Annotation", mode: params.publish_dir_mode]
        
    }

    withName: Annotation_2 {
        cpus = 1
        publishDir = [path: "${params.outdir}Annotation_2", mode: params.publish_dir_mode]
        
    }

    withName: netMHCpan {
        cpus = 8
        publishDir = [path: "${params.outdir}netMHCpan", mode: params.publish_dir_mode]
        
    }

    withName: netMHCIIpan {
        cpus = 8
        publishDir = [path: "${params.outdir}netMHCIIpan", mode: params.publish_dir_mode]
        
    }

     withName: final_out_1 {
        cpus = 8
        publishDir = [path: "${params.outdir}final_out", mode: params.publish_dir_mode]
        
    }

    withName: final_out_2 {
        cpus = 8
        publishDir = [path: "${params.outdir}final_out", mode: params.publish_dir_mode]
        
    }

    withName: Combine {
        cpus = 1
        publishDir = [path: "${params.outdir}Combine", mode: params.publish_dir_mode]
        
    }

    withName: Metadata_MHCI {
        cpus = 1
        publishDir = [path: "${params.outdir}Metadata_MHCI", mode: params.publish_dir_mode]
        
    }

    withName: Metadata_MHCII {
        cpus = 1
        publishDir = [path: "${params.outdir}Metadata_MHCII", mode: params.publish_dir_mode]
        
    }
}

profiles {
  icbi {
   singularity.autoMounts = true
   singularity.pullTimeout = '30 min'
   process {
      executor = 'sge'
      penv = 'smp'
      clusterOptions = { '-V -S /bin/bash -q all.q' }
    }
  }
  icbi_long {
   singularity.autoMounts = true
   singularity.pullTimeout = '30 min'
   process {
      executor = 'sge'
      penv = 'smp'
      clusterOptions = { '-V -S /bin/bash -q long.q' }
    }
  }
}


executor {
  $sge {
    queueSize = 600
  }
}